@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  box-sizing: border-box;
}

.react-horizontal-scrolling-menu--item:first-child {
  margin-left: calc(10vw + 1rem);
}

@media screen and (max-width: 768px) {
  .react-horizontal-scrolling-menu--item:first-child {
    margin-left: calc(10vw + -0.4rem);
  }
}

.react-horizontal-scrolling-menu--item:last-child {
  margin-right: calc(10vw - 8px);
}

.react-horizontal-scrolling-menu--item {
  display: flex;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 60vh !important;
}

.react-horizontal-scrolling-menu--wrapper {
}

.article-content p {
  @apply min-w-[24rem];
}

.article-content {
  @apply px-4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
